@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';



html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 250px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p{
    font-family: font-family-serif;
    font-size: 18px;
}

.hero-scene{
    position: relative;
    
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/FondHeroScene.jpg");
        background-size: cover;
        filter: brightness(0.5);
    }
    *{
        position: relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.text-justify{
    text-align: justify;
}

.b-rounded{
    border-radius: 45px;
}

.image-card {
    position: relative;
    &:hover{
        .titre-image{
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
        }

        img{
            filter: brightness(0.5);
            transition: filter 0.5s ease-in-out;
        }
    }

    img {
        max-width: 370px;
        max-height: 250px;
        min-width: 115px;
        min-height: 115px;
        transition: all 0.5s;
    }

    .titre-image{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.5s;
    }
}
